{% extends "basic.html" %}

{% block meta %}
{{ super() }}
{% endblock %}

{% block body %}
    <div id="main">
        <h1 align="center">Login to WeMap</h1><br>

        <form method="post" action="" align="center">
            <p><label for="username">Username:</label>
                <input type="text" name="username"></p>
            <p><label for="password">Password:</label>
                <input type="password" name="password"></p>
            <p><input type="submit" name='submit' value="Login"></p>
        </form><br>

        <p align="center">(Haven't signed up? Click <a href="/signup/">here</a> to join!)</p>
    </div>
{% endblock %}