<!-- WeMap: Mapping Wellesley Connections
    Authors: MR Ngo and Naomi Day -->

<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/map.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/wemapstyle.css') }}">
  </head>

  <body id="body">

    <!-- display flash messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div id="flashes">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div id='menu' width='500px'>
      <form method='post' name="menu">
        <input type='submit' name="submit" value="Go To Map"></input>
        <input type='submit' name="submit" value="Go to Profile"></input>
        <input type='submit' name="submit" value="Logout"></input>
      </form>
    </div>

    <h1 style='color:#fff'>WeMap</h1>

    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>

        <!-- ADD FORM FOR INPUTTING INFO FOR AN INFOWINDOW -->
        <form action="" method="post" name="anecdote" enctype = "multipart/form-data" style='text-align:center'>
          <h3>Add an anecdote at the place you selected</h3>
          <p>Title: <input type='text' id='title' name='title' value="" default='Randomly Met an Alumna on the train!'></p>

          <p>Contents: <textarea name='content' id='content' rows='5' cols='50' default='describe your experience'></textarea></p>
          <input type='hidden' name='lat' id='lat' value=''>
          <input type='hidden' name='lng' id='lng' value=''>
          <p><input type='checkbox' name='anon' id='anon' value='1'> Make this post anonymous</p>
          <input type = "file" name = "pic"/>
          <p><input type="submit" name="submit" id="btnaddmarker" value="add marker">
        </form>

      </div>
    </div>

      <div id='anecdotes'>
          <h1 style='text-align:center'>Anecdotes</h1>

          <!-- Form for filtering anecdotes on map via username, tags, or keywords -->
          <form action="" method="post" name="filter" style='text-align:center'>
            <select name='filtertype'>
              <option value="username">user</option>
              <option value="keyword">keyword</option>
            </select>
            <input type='text' id='content' name='content' value="" style="width:150px">
            <input type='submit' name='submit' id='filtersubmit' value="filter anecdotes">
          </form>
          <br>

          {% for anecdote in anecdotes %}
            <div class='anecdote' style='border:1px solid black;margin:10px' class='anecdote' >
              <h3 style='margin:7px'>
                {% if anecdote['anonymous'] == 0 %}
                  <form action='' method='postl' name='profile' >
                    {{ anecdote.title }} (<a href="/user/{{anecdote.username}}" onclick="form.submit();">{{anecdote.username}}</a>) 
                  </form>
                {% else %}
                  {{ anecdote.title }} (anonymous)
                {% endif %}
              </h3>
              <p style='margin:7px'>{{ anecdote.content }} </p>
            </div>
          {% endfor %}
        </div>
      </div>

      <div id="mwrapper">
        <button type='button' id='addanecdote' style='width:100px;height:30px;' disabled>Add Anecdote</button>
      </div>

      <input id="pac-input" class="controls" type="text" placeholder="Search Box" style='width:200px'>
      <div id="map"></div>

    <script type="text/javascript">
      // jquery for handling the modal of the form for adding a new anecdote
      var modal = document.getElementById('myModal');
      $("#addanecdote").click(function() {
        modal.style.display = "block";
      });
      var span = document.getElementsByClassName("close")[0];
      span.onclick = function() {
          modal.style.display = "none";
      }

      // code for the Google Maps map
      var map;
      var allMarkers = [];

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 42, lng: -71},
          zoom: 11,
          mapTypeId: 'roadmap'
        });

        var unselected = 'http://maps.google.com/mapfiles/kml/pal3/icon57.png';

        {% for anecdote in anecdotes %}
          addmarker( {{ anecdote.lat }},{{ anecdote.lng }},"{{ anecdote['title'] }}","{{ anecdote['content'] }}", unselected);
        {% endfor %}

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var addanecdote = document.getElementById('addanecdote');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(input);
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(addanecdote);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });
        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();
          if (places.length == 0) {
            return;
          }
          console.log(places);
          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];
          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            // Create a marker for each place.
            var marker = new google.maps.Marker({
              map: map,
              title: place.name,
              position: place.geometry.location,
              icon: 'http://maps.google.com/mapfiles/kml/pal3/icon57.png'
            });

            markers.push(marker);

            marker.addListener('click', function() {
              selectMarker(markers, marker);
            });

            selectMarker(markers, marker);

            var latlng = place.geometry.location;
            document.getElementById("lat").value = latlng.lat().toFixed(5);
            document.getElementById("lng").value = latlng.lng().toFixed(5);

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });

          
          map.fitBounds(bounds);
        });
      }

      function addmarker(lat,lng,title,content) {
          allMarkers.push(marker);
          contentString = "<h3>"+title+"</h3>"+
                          "<p>"+content+"</p>";
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });

          var marker = new google.maps.Marker({
              position: {lat:lat, lng:lng},
              title: 'new marker',
              map: map,
              icon: 'http://maps.google.com/mapfiles/kml/pushpin/blue-pushpin.png'
          });

          map.setCenter(marker.getPosition());
          marker.addListener('click', function() {
            infowindow.open(map,marker);
          });
      }

      function selectMarker(markers, marker) {
          // unselect all markers
          var unselected = 'http://maps.google.com/mapfiles/kml/pal3/icon57.png';
          markers.forEach(function(m) {
            m.setIcon(unselected);
          });
          // select this one
          marker.setIcon('http://maps.google.com/mapfiles/kml/paddle/blu-blank.png');

          var latlng = marker.getPosition();
          console.log(latlng);
          document.getElementById("lat").value = latlng.lat();
          document.getElementById("lng").value = latlng.lng();
          document.getElementById('addanecdote').disabled = false;
      }

      $('#btnaddmarker').on('click', function() {
          var title = document.getElementById('title').value;
          var content = document.getElementById('content').value;
          var lat = document.getElementById('lat').value;
          var lng = document.getElementById('lng').value;
          var pushpin = 'http://maps.google.com/mapfiles/kml/pushpin/blue-pushpin.png';
          addmarker(lat,lng,title,content);
      });

    </script> 

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-nT9fP4I7GrFPu_J-V-5ajx1Esns2aNk&callback=initMap&libraries=places" type="text/javascript"></script>
  </body>
</html>