<!-- Google Maps API Key: -->
<!-- AIzaSyA-nT9fP4I7GrFPu_J-V-5ajx1Esns2aNk -->

<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="map.js"></script> -->
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Mapping Wellesley Connections</h3>

    <form method='post' name="user">
      <input type='submit' name="submit" value="Go To Your Profile">
    </form>

    <!-- ADD FORM FOR INPUTTING INFO FOR AN INFOWINDOW -->
    <form action="" method="post" name="anecdote">
      <p>Title: <input type='text' id='title' name='title' value="" default='Randomly Met an Alumna on the train!'></p>

      <p>Contents: <textarea name='content' rows='5' cols='50' default='describe your experience'></textarea></p>
      <br>

      <input type="hidden" name="lat" value="">
      <input type="hidden" name="lng" value="">

      <input id="pac-input" class="controls" type="text" placeholder="Search Box">

      <input type="submit" name="submit" id="btnaddmarker" value="add marker">
    </form>
    <br>

    <div id="map"></div>
    <script type="text/javascript">

      var map,latng;
      var anecdotes = {{ anecdotes }}

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 42, lng: -71},
          zoom: 11,
          mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              title: place.name,
              position: place.geometry.location
            }));

            latlng = place.geometry.location
            document.getElementById("lat").value = latlng.lat()
            document.getElementById("lng").value = latlng.lng()

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }

      function addmarker() {
          var title = document.getElementById('title').value;
          var contents = document.getElementById('contents').value;

          contentString = "<h3>"+title+"</h3>"+
                          "<p>"+contents+"</p>";
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          var marker = new google.maps.Marker({
              position: latlng,
              title: 'new marker',
              // draggable: true,
              map: map
          });
          console.log("added marker at ", latlng);
          map.setCenter(marker.getPosition());
          marker.addListener('click', function() {
            infowindow.open(map,marker)
          })
      }

      $('#btnaddmarker').on('click', function() {
          addmarker()
      })

    </script> 

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-nT9fP4I7GrFPu_J-V-5ajx1Esns2aNk&callback=initMap&libraries=places" type="text/javascript"></script>
  </body>
</html>