h1 {
  text-align: center;
}

h2 {
  text-align: center;
  display: inline-block;
}

#map {
  height:500px;
  width:65%;
  float:right;
  background-color:#cccedd;
}

#anecdotes {
  height: 500px;
  width: 33%;
  overflow: auto;
  float: left;
  background-color: #cccedd;
}