/* STYLING FOR ALL PAGES (background color, font). Requires pages to have body with id=body */
#body {
  font-family:Avenir;
  background-color:#002776;
}

#main {
  margin:auto;
  width:50%;
  height:80%;
  background-color:#cccedd;
  padding-bottom:2%;
}
/* END ALL PAGE STYLING */