<!-- Google Maps API Key: -->
<!-- AIzaSyA-nT9fP4I7GrFPu_J-V-5ajx1Esns2aNk -->

<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="map.js"></script> -->
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Mapping Wellesley Connections</h3>   

    <input id="pac-input" class="controls" type="text" placeholder="Search Box"width='400px'>

    <button id="btnaddmarker">add marker</button>

    <!-- ADD FORM FOR INPUTTING INFO FOR AN INFOWINDOW -->

    <div id="map"></div>
    <script type="text/javascript">

      var map,latlng;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 42, lng: -71},
          zoom: 11,
          mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              title: place.name,
              position: place.geometry.location
            }));

            latlng = place.geometry.location

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }

      function addmarker(latlng) {
          // var latlng = new google.maps.LatLng(lat,lng);
          // CREATE INFOWINDOW
          contentString = "<p>Hi</p>";
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          var marker = new google.maps.Marker({
              position: latlng,
              title: 'new marker',
              // draggable: true,
              map: map
          });
          console.log("added marker at ", latlng);
          map.setCenter(marker.getPosition());
          marker.addListener('click', function() {
            infowindow.open(map,marker)
          })
      }

      $('#btnaddmarker').on('click', function() {
          addmarker(latlng)
      })

    </script> 

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-nT9fP4I7GrFPu_J-V-5ajx1Esns2aNk&callback=initMap&libraries=places" type="text/javascript"></script>
  </body>
</html>