<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="map.js"></script> -->
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <form method='post' name="map">
      <input type='submit' name="submit" value="Go To Map"></input>
    </form>

    <form method='post' name="logout">
      <input type='submit' name="submit" value="Logout"></input>
    </form>
    
    <h2>Welcome {{ user.nm }}! Here's your post history: </h2>
    {% for anecdote in anecdotes %}
        <h3>{{ anecdote.title }}</h3>
        <p>{{ anecdote.content }}</p>
    {% endfor %}
  </body>
</html>
